@layer level-1 {
  /* Type */
  body {
    background: var(--pink);
  }

  /* Descendent */
  body main {
  }

  /* ID */
  #main {
  }

  /* Class */
  .main {
  }

  /* Active */
  :active {
  }

  /* Link */
  :link {
  }
}

@layer level-2 {
  /* CSS Selectors Level 2 */

  /* Universal */
  * {
    box-sizing: border-box;
  }

  /* Lang */
  :lang(en) {
  }

  /* User Action */
  button:hover:focus {
    outline: 4px solid var(--green);
  }

  /* Structural */
  :first-child {
  }

  /* Attribute */
  [href="rob"] {
  }

  /* Child */
  button first-child {
  }

  /* Adjacent Sibling */
  button + a {
  }
}

@layer level-3 {
  /* Attribute (Starts with, ends with, contains) */
  [class^=""][class$=""][class*=""] {}

  /* Target */
  :target {}

  /* Checked */
  :checked {}

  /* Not */
  :not(x)

  /* General Sibling */
  a ~ b {}

  /* Enabled / Disabled */
  :enabled:disabled

/*   :root / :empty / :last-child / :only-child / :first-of-type / :last-of-type / :only-of-type / :nth-child(n) / :nth-last-child(n) / :nth-of-type(n) / :nth-last-of-type(n) */
}

@layer level-4 {
/* Case Insensitive Attributes */
[class="selector" i] {}

/* Blank */
:blank {}

/* nth-child */
:nth-child(1):nth-child(odd):nth-child(even):nth-child(1 of selector):nth-child(3n + 1) {}

/* Dir */
:dir(ltr) {}

/* Any Link */
:any-link {}

/* Local Link */
:local-link {}

/* Is */
:is(.selector) {}

/* where */
:where(.selector) {}

/* Mutability */
:read-only:read-write {}

/* Not */
:not(.selector) {}

/* Optionality */
:required:optional {}

/* Placeholder Shown */
:placeholder-shown {}

/* Indeterminate */
:indeterminate {}

/* Validity */
:valid:invalid:user-invalid {}

/* Has */
:has(*) {}

/* Scope */
:scope {}

/* Range */
:in-range:out-of-range {}

/* Cols */
:nth-col(n):nth-last-col(n) {}

/* Time */
:current / :past / :future {}

/* Default */
:default {}

/* Focus Within */
:focus-within {}

/* Focus Visible */
:focus-visible {}

/* Target Within */
:target-within {}

/* Column Combinator */
E || F {}
}

@layer base {
  :root {
    --pink: oklch(70% 0.17 322.94);
    --orange: oklch(77.65% 0.158 68.82);
    --green: oklch(82.94% 0.264 141.88);
  }

  body {
    height: 100vh;
    text-align: center;
    font-family: system-ui;
  }

  main {
    height: 50%;
    align-content: center;
  }

  button {
    display: block;
    margin-inline: auto;
    margin-block-end: 1rem;
    font-family: inherit;
    border: none;
    border-radius: 4px;
    padding-block: 0.5rem;
    cursor: pointer;
  }
}

@layer base, level-1, level-2, level-3, level-4;
