.container {
  max-width: 5rem;
  margin-inline: auto;  
  padding: 5rem;
  
  &:hover > .anchor {
     translate: 50px;
  }
}

.anchor {
  anchor-name: --anchor;
  transition: translate 0.5s;
}

.target {
  position: absolute;
  position-anchor: --anchor;
  position-area: start end;
}
