@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,400i,700");

body {
  height: 100vh;
  background-color: hsl(182, 60%, 50%);
  display: grid;
  place-content: center;
  font-family: inconsolata;
}